<div id="J-uploader">
   <form action="" name="" id="J-imgForm">
    <div class="add-pic" id="J-addPicWrap">
       <a href="#" id="J-addPicBtn" class="add-pic-btn"></a>
       <span class="tip">这里可以添加照片，只有上传照片才可以写评论哦~~</span>
    </div>
    <div class="comment-area">
        <em class="arrow"></em>
        <em class="num"><span id="J-num">1</span>/140</em>
        <div class="cm-textarea">
          <textarea name=""></textarea>
        </div>
    </div>
  </form>
</div>