<h2>用户评论</h2>
<ul class="zdm-comment-block">

    <%_.each(comments,function(comment){%>

        <li class="z-mod">
            <div class="hd">
                <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
            </div>
            <div class="bd">
                <h3><a href="#">小猪LULU</a></h3>
                <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                <ul class="pic-desc">
                    <%_.each(comment.pics,function(pic){%>
                      <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                    <%})%>
                </ul>
            </div>
        </li>

    <% })%>

</ul>