<% if(item.sku == 'true'){ %>
<section class="d-sku<% if(seller.type == 'B'){ %> d-tmall<% } %>">
   <p class="ds-props" id="sku-limit">
       <span class="gray12">
           <%=_.map(sku.skuProps,function(item){

              var tempa = _.map(item.values,function(el){
                    return el.valueAlias || el.txt;
               });

               tempa.unshift(item.name+': ');
               return tempa.join(' ');}).join(' ')
           %></span>
       <b class="aw down"></b>
   </p>
   <div class="ds-main none" id="sku-all"></div>
</section>
<% } %>