<section id="J_detailCont" class="innercontent">


       <section id="J_slide"><div class="loading"></div></section>

       <section id="J-dInfo" class="d-info"></section>

       <section id="J-dSKU" class="d-sku d-tmall"></section>


       <section class="d-sure" id="J-orderNow"> </section>

       <section class="d-master">

           <div id="zdm-comment" class="zdm-comment">
               <h2>用户评论</h2>
               <ul class="zdm-comment-block">
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>

                       </div>
                   </li>
               </ul>

           </div><!--值得买评论区块-->


           <div id="J-merchant">  <!--merchant info-->

           </div>
       </section>


       <section class="d-search">
           <form action="http://s.waptest.taobao.com/search.htm?v=0&amp;sid=adf3a2909bff87c3&amp;pds=search%23h%23detail" method="get" name="qsearch">
               <input name="atype" type="hidden" value="b">
               <input type="hidden" value="3" name="searchfrom">
               <input type="text" name="q" placeholder="请输入宝贝关键字" class="bton-keyword" value="">
               <input class="bton-search" name="search-bton" type="submit" value="">
           </form>
           <!--<input type="text" name="q" class="bton-keyword" value="" /><input class="bton-search" name="search-bton" type="submit" value="">-->
       </section>
   </section>
</section>
