<section id="J_slide">
    <div id="dSlider" class="dSlider">
        <!--<div class="js-bton">
            <a href="#" class="jsb-back">返 回</a>
            <a href="#" class="jsb-ori">原 图</a>
        </div>
        <div class="slider-outer">
            <ul>
                <li><img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/detail.jpg" /></li>
                <li><img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/detail.jpg" /></li>
                <li><img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/detail.jpg" /></li>
                <li><img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/detail.jpg" /></li>
            </ul>
        </div>
        <b class="prev">上一个</b>
        <b class="next">下一个</b>-->
    </div>
</section>