
   <section id="J_detailCont" class="innercontent">
       <div class="loading"></div>
       <section id="J_slide"></section>
       <section id="J-dInfo" class="d-info"></section>

       <section id="J-dSKU" class="d-sku d-tmall"></section>


       <section class="d-sure">
           <div class="ds-action">
               <a href="#" class="ds-coma ww">
                   <img src="http://im.m.taobao.com/ww/status.do?_input_charset=utf-8&amp;nick=%E5%A5%A5%E6%84%8F%E7%8E%9B%E6%97%97%E8%88%B0%E5%BA%97&amp;sid=a43dc100fd92d4d3f446405857471d10" alt="联系卖家">
               </a>
               <a href="#" class="ds-coma fav">收藏</a>
               <a href="#" class="c-btn-oran immbuy"><span>立即购买</span></a>
               <a href="#" class="c-btn-blue addcart"><span>加入购物车</span></a>
               <!--<b id="J_NoArea" class="ds-coma ds-bs"><span>商品不在销售区域内</span></b><b class="ds-coma ds-bs ds-bs12"><span><em class="red">还有机会</em> 我们会逐步取消未支付订单</span></b><a class="ds-coma ds-rh" href="#"><img src="images/refresh.png" />刷新</a>--><!--天猫样式c-btn-tmall-buy-->
               <!-- 拇指斗价按钮 -->
               <!--<a href="#" class="mz-btn mz-buy">立刻购买</a>
            <a href="#" class="mz-btn mz-join">参与斗价</a>
            <a href="#" class="mz-btn mz-ended">已经结束</a>
            <a href="#" class="mz-btn mz-soldout">卖光了</a>
            <a href="#" class="mz-btn mz-success">已成功抢购</a>
            <a href="#" class="mz-btn mz-topay">待付款</a>
            <a href="#" class="mz-btn mz-chance">还有机会</a>
            <a href="#" class="mz-btn mz-tostart">即将开始</a>
            <a href="#" class="mz-btn mz-closed">交易关闭</a>-->

               <form id="order-form" name="orderForm" style="display: none;" action="http://b.m.taobao.com/buy.htm?sid=fa5ef1c3e6848fa9433c0ebf894b1e5a&amp;pds=buynow%23h%23detail" method="post">
                   <input type="hidden" name="_input_charset" value="utf-8"/>
                   <input type="hidden" name="item_id" value="4846668057"/>
                   <input type="hidden" name="item_num_id" value="4846668057"/>
                   <input type="hidden" name="tks" value="" />
                   <input type="hidden" id="sku-id" name="skuId" value=""/>
                   <input type="hidden" name="buyNow" value="true" />
               </form>
           </div>



       </section>

       <section class="d-master">

           <div id="zdm-comment" class="zdm-comment">
               <h2>用户评论</h2>
               <ul class="zdm-comment-block">
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>

                       </div>
                   </li>
               </ul>

           </div><!--值得买评论区块-->


           <div id="J-merchant">  <!--merchant info-->

           </div>
       </section>

       <section id="J_recommend" class="d-tj">
           <!--<div class="dt-header none">
               <h3>本店推荐宝贝</h3>
               <a href="#">更多</a>
           </div>
           <div id="tjSlider" class="tjSlider none">
               <div class="tjSlider-outer">
                   <ul>
                       <li>
                           <a href="#">
                               <img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/tj1.jpg" />
                               <span>爱丽缇2012夏装新款明星同款白色款白色款白色</span>
                               <p><ins class="red">￥249.00</ins></p>
                               <p class="font12">原价:<del>￥358.00</del></p>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/tj2.jpg" />
                               <span>爱丽缇2012夏装新款明星同款白色款白色款白色</span>
                               <p><ins class="red">￥243419.00</ins></p>
                               <p class="font12">原价:<del>￥358.00</del></p>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/tj1.jpg" />
                               <span>爱丽缇2012夏装新款明星同款白色款白色款白色</span>
                               <p><ins class="red">￥249.00</ins></p>
                               <p class="font12">原价:<del>￥358.00</del></p>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <img src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" dataimg="images/tj2.jpg" />
                               <span>爱丽缇2012夏装新款明星同款白色款白色款白色</span>
                               <p><ins class="red">￥243419.00</ins></p>
                               <p class="font12">原价:<del>￥358.00</del></p>
                           </a>
                       </li>
                   </ul>
               </div>
               <b class="aw left prev">上一个</b>
               <b class="aw right next">下一个</b>
           </div>-->
       </section>
       <section class="d-search">
           <form action="http://s.waptest.taobao.com/search.htm?v=0&amp;sid=adf3a2909bff87c3&amp;pds=search%23h%23detail" method="get" name="qsearch">
               <input name="atype" type="hidden" value="b">
               <input type="hidden" value="3" name="searchfrom">
               <input type="text" name="q" placeholder="请输入宝贝关键字" class="bton-keyword" value="">
               <input class="bton-search" name="search-bton" type="submit" value="">
           </form>
           <!--<input type="text" name="q" class="bton-keyword" value="" /><input class="bton-search" name="search-bton" type="submit" value="">-->
       </section>
   </section>
   </section>
