<section id="J_detailCont" class="innercontent">


       <section id="J_slide"><div class="loading"></div></section>

       <section id="J-dInfo" class="fold"></section>

       <section id="J-dSKU"> </section>


       <section class="d-sure" id="J-orderNow"> </section>

       <section class="d-master">

           <div id="zdm-comment" class="zdm-comment"><div class="loading"></div></div><!--值得买评论区块-->

           <div id="J-merchant"> </div>  <!--merchant info-->

       </section>


       <section class="d-search">
           <form action="http://s.waptest.taobao.com/search.htm?v=0&amp;sid=adf3a2909bff87c3&amp;pds=search%23h%23detail" method="get" name="qsearch">
               <input name="atype" type="hidden" value="b">
               <input type="hidden" value="3" name="searchfrom">
               <input type="text" name="q" placeholder="请输入宝贝关键字" class="bton-keyword" value="">
               <input class="bton-search" name="search-bton" type="submit" value="">
           </form>
           <!--<input type="text" name="q" class="bton-keyword" value="" /><input class="bton-search" name="search-bton" type="submit" value="">-->
       </section>
   </section>
</section>
