<section id="J_detailCont" class="innercontent">


       <section id="J_slide"><div class="loading"></div></section>

       <section id="J-dInfo" class="d-info"></section>

       <section id="J-dSKU" class="d-sku d-tmall"></section>


       <section class="d-sure">
           <div class="ds-action">
               <a href="#" class="ds-coma ww">
                   <img src="http://im.m.taobao.com/ww/status.do?_input_charset=utf-8&amp;nick=%E5%A5%A5%E6%84%8F%E7%8E%9B%E6%97%97%E8%88%B0%E5%BA%97&amp;sid=a43dc100fd92d4d3f446405857471d10" alt="联系卖家">
               </a>
               <a href="#" class="ds-coma fav">收藏</a>
               <a href="#" class="c-btn-oran immbuy"><span>立即购买</span></a>
               <a href="#" class="c-btn-blue addcart"><span>加入购物车</span></a>


               <form id="order-form" name="orderForm" style="display: none;" action="http://b.m.taobao.com/buy.htm?sid=fa5ef1c3e6848fa9433c0ebf894b1e5a&amp;pds=buynow%23h%23detail" method="post">
                   <input type="hidden" name="_input_charset" value="utf-8"/>
                   <input type="hidden" name="item_id" value="4846668057"/>
                   <input type="hidden" name="item_num_id" value="4846668057"/>
                   <input type="hidden" name="tks" value="" />
                   <input type="hidden" id="sku-id" name="skuId" value=""/>
                   <input type="hidden" name="buyNow" value="true" />
               </form>
           </div>



       </section>

       <section class="d-master">

           <div id="zdm-comment" class="zdm-comment">
               <h2>用户评论</h2>
               <ul class="zdm-comment-block">
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>
                           <ul class="pic-desc">
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                               <li><img src="http://img04.taobaocdn.com/tps/i4/T1mNFVXxlcXXXeF16k-62-62.png"/></li>
                           </ul>
                       </div>
                   </li>
                   <li class="z-mod">
                       <div class="hd">
                           <img src="http://img04.taobaocdn.com/tps/i4/T12.4VXwpbXXbe.mPe-40-40.png"/>
                       </div>
                       <div class="bd">
                           <h3><a href="#">小猪LULU</a></h3>
                           <p>颜色特别美，做工特别好，潘领好可爱。。设计感很足。好喜欢。。我穿已经在膝盖了。。囧···哈哈。。但还是爱不释手啊。。</p>

                       </div>
                   </li>
               </ul>

           </div><!--值得买评论区块-->


           <div id="J-merchant">  <!--merchant info-->

           </div>
       </section>


       <section class="d-search">
           <form action="http://s.waptest.taobao.com/search.htm?v=0&amp;sid=adf3a2909bff87c3&amp;pds=search%23h%23detail" method="get" name="qsearch">
               <input name="atype" type="hidden" value="b">
               <input type="hidden" value="3" name="searchfrom">
               <input type="text" name="q" placeholder="请输入宝贝关键字" class="bton-keyword" value="">
               <input class="bton-search" name="search-bton" type="submit" value="">
           </form>
           <!--<input type="text" name="q" class="bton-keyword" value="" /><input class="bton-search" name="search-bton" type="submit" value="">-->
       </section>
   </section>
</section>
