<% if(comment){%>
<div class="comment-item">
    <div class="hd">
        <img src="http://wwc.taobaocdn.com/avatar/getAvatar.do?userId=<%=comment.raterUid%>&width=40&height=40&type=sns"/>
    </div>
    <div class="bd">
        <h3><%= comment.raterUserNick %></h3>
        <p><%= comment.feedback %></p>
        <ul class="pic-desc">
            <%_.each(comment.feedItemPicDOList,function(pic){%>
               <li><img src="<%= pic.path%>"/></li>
            <%})%>
        </ul>
    </div>
</div>
<%}%>
<div class="ft comment-ft"><%if(comment){%><a class="fn view-comments" href="#">查看全部评论<em></em></a><%}else{%><a href="#" class="fn J-addPic" onclick="">添加图片及评论<em></em></a><%}%></div>
